<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aidex.mapper.ProStuMapper">
    <sql id="ProStuColumns">
        t.user_name AS "userName",
        t.real_name AS "realName",
        t.sno AS "sno",
        t.sex AS "sex",
        t.birthday AS "birthday",
        t.email AS "email",
        t.qq AS "qq",
        t.phone AS "phone",
        t.address AS "address",
        t.signature AS "signature",
        t.del_flag AS "delFlag",
        t.xzclass AS "xzclass",
        t.wechat AS "wechat"
    </sql>

    <resultMap type="ProStu" id="ProStuResult">
        <id     property="userName"           column="user_name"      />
        <result property="realName"       column="real_name"      />
        <result property="sno"     column="sno"    />
        <result property="sex"         column="sex"    />
        <result property="birthday"     column="birthday"    />
        <result property="email"     column="email"    />
        <result property="qq"        column="qq"        />
        <result property="phone"  column="phone"  />
        <result property="address"    column="address"  />
        <result property="signature"          column="signature"          />
        <result property="delFlag"      column="del_flag"     />
        <result property="xzclass"      column="xzclass"     />
        <result property="wechat"      column="wechat"     />
    </resultMap>

    <sql id="selectProStu">
        select
            t.user_name,
            t.real_name,
            t.sno,
            t.sex,
            t.birthday,
            t.email,
            t.qq,
            t.phone,
            t.address,
            t.signature,
            t.del_flag,
            t.xzclass,
            t.wechat
        from pro_student t
    </sql>

    <select id="selectStuByUserName" parameterType="String"  resultMap="ProStuResult">
        <include refid="selectProStu"/>
        where t.user_name = #{userName}
    </select>

    <insert id="insertStu" >
        insert into pro_student(
            user_name,
            real_name,
            sno,
            sex,
            birthday,
            email,
            qq,
            phone,
            address,
            signature,
            del_flag,
            xzclass,
            wechat
        )values(
                   #{userName},
                   #{realName},
                   #{sno},
                   #{sex},
                   #{birthday},
                   #{email},
                   #{qq},
                   #{phone},
                   #{address},
                   #{signature},
                   #{DEL_FLAG_NORMAL},
                   #{xzclass},
                   #{wechat}
               )
    </insert>

    <update id="updateStu">
        update pro_student
        <set>
            <if test="userName != null"> user_name = #{userName}, </if>
            <if test="realName != null"> real_name = #{realName}, </if>
            <if test="sno != null">sno = #{sno}, </if>
            <if test="sex != null">sex = #{sex}, </if>
            <if test="birthday != null">birthday = #{birthday}, </if>
            <if test="email != null">email = #{email}, </if>
            <if test="qq != null">qq = #{qq}, </if>
            <if test="phone != null">phone = #{phone}, </if>
            <if test="address != null">address = #{address}, </if>
            <if test="signature != null">signature = #{signature}, </if>
            <if test="wechat != null">wechat = #{wechat}, </if>
        </set>
        where user_name = #{userName}
    </update>
</mapper>